# Data Type

In [11]:
variable='Assalamualikum'
print(variable)

Assalamualikum

In [12]:
print(len(variable))

14

In [13]:
print(help(variable))

No Python documentation found for 'Assalamualikum'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

None

In [14]:
print(variable[1:5])

ssal

In [15]:
print(type(variable))

<class 'str'>

In [16]:
variable.upper()

'ASSALAMUALIKUM'

In [17]:
variable.lower()

'assalamualikum'

In [18]:
variable.title()

'Assalamualikum'

# Number

In [21]:
int_num=11996
print(int_num)
type(int_num)

11996

int

In [22]:
float_number = 5.00
print(float_number)
type(float_number)

5.0

float

In [24]:
comlex_number = 3.1416
print(comlex_number)
type(comlex_number)

3.1416j

complex

# List

In [25]:
list=['CSE','EEE','ECE','Civil']
print(list)
print(len(list))
print(list[0])
print(list[0:3])
print(list[2:3])
print(list[2:])

['CSE', 'EEE', 'ECE', 'Civil']
4
CSE
['CSE', 'EEE', 'ECE']
['ECE']
['ECE', 'Civil']

In [27]:
list[2]='Physics'
print(list)

['CSE', 'EEE', 'Physics', 'Civil']

In [28]:
list.append('Math')
print(list)

['CSE', 'EEE', 'Physics', 'Civil', 'Math']

In [29]:
list.insert(3,'Bangla')
print(list)

['CSE', 'EEE', 'Physics', 'Bangla', 'Civil', 'Math']

In [31]:
list.extend([5,6,7,'Biology'])
print(list)

['CSE', 'EEE', 'Physics', 'Bangla', 'Civil', 'Math', 5, 6, 7, 5, 6, 7, 'Biology']

In [33]:
list.remove('EEE')
print(list)

['CSE', 'Physics', 'Bangla', 'Civil', 'Math', 5, 6, 7, 5, 6, 7, 'Biology']

In [34]:
list.pop()

'Biology'

In [35]:
print(list)

['CSE', 'Physics', 'Bangla', 'Civil', 'Math', 5, 6, 7, 5, 6, 7]

In [38]:
list.remove(list[5])
print(list)

['CSE', 'Physics', 'Bangla', 'Civil', 'Math', 7, 5, 6, 7]

In [42]:
list2=[0,1,2,3,4,25,89,41,36,7,8,9]
print(list2)

[0, 1, 2, 3, 4, 25, 89, 41, 36, 7, 8, 9]

In [44]:
list2.sort()
print(list2)

[0, 1, 2, 3, 4, 7, 8, 9, 25, 36, 41, 89]

In [45]:
list2.sort(reverse=True)
print(list2)

[89, 41, 36, 25, 9, 8, 7, 4, 3, 2, 1, 0]

In [46]:
print(max(list2))
print(min(list2))
print(sum(list2))

89
0
225

In [47]:
print(list2.index(9))

4

# Touple

In [57]:
touple1 = (1, 2, 8, 5, 7, 10)
print(touple1)

(1, 2, 8, 5, 7, 10)

In [58]:
type(touple1)

tuple

In [59]:
touple2 = (9, 3, 2, 1)

In [60]:
touple=touple1+touple2
print(touple)

(1, 2, 8, 5, 7, 10, 9, 3, 2, 1)

# Loops

In [61]:
a=int(input('Enter a number :'))
for i in range(a):
    print(i)

Enter a number :10
0
1
2
3
4
5
6
7
8
9

In [62]:
a=int(input('Enter a number :'))
sum=0
for i in range(1,a+1):
    sum=sum+i*i
print(sum)

Enter a number :10
385

In [63]:
for i in range(1,20):
    if(i%2==0):
        print(i)
    else:
        pass

2
4
6
8
10
12
14
16
18

In [64]:
for i in range(1,20):
    if(i%2==0):
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19

In [68]:
n=int(input('Enter a number :'))
i=0
while(i<=n):
    print(i)
    i=i+1

Enter a number :5
0
1
2
3
4
5

In [69]:
n=int(input('Enter a number :'))
i=0
while(i<=n):
    print(i)
    i=i+2

Enter a number :10
0
2
4
6
8
10

In [76]:
n=int(input('Enter a number :'))
i=0
while(i<=n):
    print(i)
    i=i+3

Enter a number :10
0
3
6
9

In [77]:
n=int(input('Enter a number :'))
i=1
while(i<=n):
    if(i%2==0):
        print(i)
    i=i+1

Enter a number :10
2
4
6
8
10

In [78]:
n=int(input('Enter a number :'))
i=1
while(i<=n):
    if(i%2==1):
        print(i)
    i=i+1

Enter a number :10
1
3
5
7
9

In [82]:
n=int(input('Enter a number :'))
sum=0
i=1
while(i<=n):
    sum=sum+i*i
    i=i+1
print(sum)

Enter a number :4
30

In [83]:
n=int(input('Enter a number :'))
sum=0
i=1
while(i<=n):
    sum=sum+i*i*i
    i=i+1
print(sum)

Enter a number :5
225

In [85]:
n=int(input('Enter a number :'))
i=1
while(i<=n):
    if(i%2==1):
        print(i)
    i=i+1
    if(i==4):
        break

Enter a number :10
1
3

In [86]:
i=0
while i<6:
    i+=1
    if (i==3):
        continue
    print(i)

1
2
4
5
6